
<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>jsjdk</h1>
    <ul>
        {{#each users}}
            <li>
                <strong>{{ this.name }}</strong>
                <br>
                {{ this.email }}
            </li>
        {{/each}}
    </ul>
</body>
</html>
